stages:
  - test
  - report

variables:
  # Senin bilgisayarında çalışacağı için video ve screenshot'ı açabiliriz
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"

# Test Koşumu
run_tests:
  stage: test
  tags:
    - mac-m3-runner # BU ETİKET ÇOK ÖNEMLİ (Aşağıda tanımlayacağız)
  
  script:
    # 1. Temizlik ve Hazırlık
    - docker-compose down --remove-orphans || true
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    # 2. M3 uyumlu video kaydediciyi garantiye al
    - docker pull selenoid/video-recorder:latest-release
    # 3. Testleri Başlat
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    # İş bitince sistemi kapat ama dosyalar kalsın
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

# Rapor Oluşturma
generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always