stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  BROWSER: "chrome"
  ARANGO_DB_NAME: $ARANGO_DB_NAME
  ARANGO_USER: $ARANGO_USER
  ARANGO_PASSWORD: $ARANGO_PASSWORD

run_tests:
  stage: test
  tags:
    - mac-m3-runner
  
  script:
    # 1. Temizlik
    - docker-compose down --remove-orphans || true
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    # Eski ağ kalıntısı varsa sil (Çakışmayı önlemek için)
    - docker network rm test-network || true 
    
    # 2. İmajları Hazırla
    - docker pull selenoid/video-recorder:latest-release
    - docker pull seleniarm/standalone-chromium:latest
    - docker pull seleniarm/standalone-firefox:latest
    
    # --- SİHİRLİ ADIMLAR ---
    
    # 3. Önce Selenoid'i başlat (Bu adım 'test-network' ağını otomatik oluşturur)
    - docker-compose up -d selenoid
    
    # 4. ArangoDB'yi, az önce oluşan 'test-network' ağına bağla
    # (Böylece testler 'http://arangoDB:8529' diyerek ona ulaşabilir)
    - docker network connect test-network arangoDB || true
    
    # 5. Şimdi Testleri Başlat
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always