# .gitignore:

# --- Python Derleme Dosyaları ---
__pycache__/
*.py[cod]
*$py.class

# --- Test Çıktıları ve Raporlar ---
.pytest_cache/
allure-results/
logs/
*.log
*.html
.testmondata
.ruff_cache

# --- Ortam ve Editör ---
site-v1/
venv_pytest/
venv/
.env
.vscode/
.idea/
.DS_Store

# --- Default Query File ---
queries/Query.sql