# .gitlab-ci.yml:

stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  BROWSER: "chrome"
  # Bu değişkenler GitLab Settings'den geliyor

run_tests:
  stage: test
  tags:
    - mac-m3-runner
  
  script:
    # 1. Temizlik
    - docker-compose down --remove-orphans || true
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    # Selenoid artıklarını temizle
    - docker rm -f $(docker ps -a -q --filter ancestor=selenoid/video-recorder:latest-release) || true
    - docker rm -f $(docker ps -a -q --filter ancestor=seleniarm/standalone-chromium:latest) || true
    
    # 2. İmajları Hazırla
    - docker pull selenoid/video-recorder:latest-release
    - docker pull seleniarm/standalone-chromium:latest
    
    # --- KESİN ÇÖZÜM: .env DOSYASI OLUŞTURMA ---
    # Değişkenleri elle dosyaya yazıyoruz ki Docker bunları 'string' olarak değil 'değer' olarak görsün.
    - echo "ARANGO_DB_NAME=$ARANGO_DB_NAME" > .env
    - echo "ARANGO_USER=$ARANGO_USER" >> .env
    - echo "ARANGO_PASSWORD=$ARANGO_PASSWORD" >> .env
    - echo "Ortam dosyası oluşturuldu:"
    - cat .env # Debug için (Şifreleri logda maskeli gösterebilir veya açık yazabilir, dikkat)
    
    # 3. Ağ Ayarı (Hata verirse yoksay)
    - docker network create shared-network || true
    - docker network connect shared-network arangoDB || true
    
    # 4. Klasörler
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    
    # 5. Başlat
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always