stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  # Docker Host'u direkt soket olarak gösteriyoruz (Kritik!)
  DOCKER_HOST: unix:///var/run/docker.sock

# Test Koşumu
run_tests:
  stage: test
  tags:
    - mac-m3-runner # GitLab arayüzünde bu tag'i verdiğinden emin ol!
  image: docker/compose:latest
  
  # DİKKAT: 'services: - docker:dind' ARTIK YOK!
  
  script:
    - docker-compose down --remove-orphans || true
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    - docker pull selenoid/video-recorder:latest-release
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

# Rapor
generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always