stages:
  - test
  - report

variables:
  # Senin bilgisayarında çalışacağı için video ve screenshot ayarları
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  # Docker Host'u direkt soket olarak gösteriyoruz (M3/Socket Binding için ŞART)
  DOCKER_HOST: unix:///var/run/docker.sock
  # Docker Compose hatası almamak için varsayılan tarayıcı
  BROWSER: "chrome"

# Test Koşumu
run_tests:
  stage: test
  tags:
    - mac-m3-runner # GitLab Runner etiketin
  image: docker/compose:latest
  
  # DİKKAT: 'services: - docker:dind' YOK. Soket kullanıyoruz.
  
  before_script:
    # 1. Önceki kalıntıları temizle (Normal kapatma)
    - docker-compose down --remove-orphans || true
    # 2. Zombi konteynerleri ZORLA sil (Conflict hatasını çözer)
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    # 3. Klasörleri hazırla ve izinleri ver
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    # 4. İmajı garantiye al
    - docker pull selenoid/video-recorder:latest-release

  script:
    # Testleri Başlat
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    # İş bitince sistemi kapat
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

# Rapor Oluşturma
generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always