stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  BROWSER: "chrome"
  # --- DÜZELTME: Bu değişkenleri ortamdan alıp içeri aktarıyoruz ---
  ARANGO_DB_NAME: $ARANGO_DB_NAME
  ARANGO_USER: $ARANGO_USER
  ARANGO_PASSWORD: $ARANGO_PASSWORD

run_tests:
  stage: test
  tags:
    - mac-m3-runner
  
  script:
    # 1. Temizlik
    - docker-compose down --remove-orphans || true
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    
    # 2. Ağı Hazırla (Hata verirse yoksay, varsa kullansın)
    - docker network create shared-network || true
    
    # 3. ArangoDB'yi bu ağa bağla (Çok önemli!)
    - docker network connect shared-network arangoDB || true
    
    # 4. Hazırlık
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    - docker pull selenoid/video-recorder:latest-release
    
    # 5. Başlat
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always