services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      # --- BAĞLANTI AYARI ---
      # Konteynerden -> Mac'e (Host) erişim
      - ARANGO_URL=http://host.docker.internal:8529
      
      # --- KİMLİK BİLGİLERİ (CRITICAL FIX) ---
      # Config dosyan hangisini kullanıyorsa ikisini de gönderiyoruz
      - ARANGO_DB=${ARANGO_DB_NAME}
      - ARANGO_DB_NAME=${ARANGO_DB_NAME}
      
      - ARANGO_USER=${ARANGO_USER}
      - ARANGO_PASSWORD=${ARANGO_PASSWORD}
      # ---------------------------------------
      
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER}
      - RECORD_VIDEO=${RECORD_VIDEO}
      - TAKE_SCREENSHOT=${TAKE_SCREENSHOT}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
    
    # DNS Köprüsü (Bunu silme, bu sayede host.docker.internal çalışır)
    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    # --network parametresi yok, compose kendi default ağını kullansın
    command: ["pytest", "-n", "4", "--dist=loadscope", "--alluredir=allure-results", "--clean-alluredir"]
    depends_on:
      - selenoid

  # 2. SELENOID
  selenoid:
    image: aerokube/selenoid:latest-release
    container_name: selenoid
    volumes:
      - ./config:/etc/selenoid
      - /var/run/docker.sock:/var/run/docker.sock
      - ./videos:/opt/selenoid/video
      - ./logs:/opt/selenoid/logs
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/videos
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-video-recorder-image", "selenoid/video-recorder:latest-release", "-limit", "10", "-service-startup-timeout", "2m"]
    ports:
      - "4444:4444"

  # 3. SELENOID UI
  selenoid-ui:
    image: aerokube/selenoid-ui:latest-release
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444", "--period", "2s"]