stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  DOCKER_HOST: unix:///var/run/docker.sock
  BROWSER: "chrome"

# Test Koşumu
run_tests:
  stage: test
  tags:
    - mac-m3-runner
  image: docker/compose:latest
  
  script:
    # --- GÜÇLENDİRİLMİŞ TEMİZLİK ---
    # Önce Compose ile kapatmayı dene
    - docker-compose down --remove-orphans || true
    # Sonra isim çakışması yapan konteynerleri manuel olarak ZORLA sil (En garanti yöntem)
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    
    # Hazırlık
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    - docker pull selenoid/video-recorder:latest-release
    
    # Başlat
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

# Rapor (Aynı kalıyor)
generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always