services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      # --- KESİN ÇÖZÜM: Konteyner ismiyle direkt bağlantı ---
      - ARANGO_URL=http://arangoDB:8529
      # ----------------------------------------------------
      - ARANGO_DB_NAME=${ARANGO_DB_NAME}
      - ARANGO_USER=${ARANGO_USER}
      - ARANGO_PASSWORD=${ARANGO_PASSWORD}
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER}
      - RECORD_VIDEO=${RECORD_VIDEO}
      - TAKE_SCREENSHOT=${TAKE_SCREENSHOT}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
      
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    
    # --- BEKLEME KOMUTU ---
    # test_data.py çalışmadan önce DB'nin hazır olduğundan emin oluyoruz.
    command: >
      sh -c "
        echo 'ArangoDB (http://arangoDB:8529) bağlantısı bekleniyor...'
        until python -c 'import socket; s=socket.socket(); s.settimeout(2); s.connect((\"arangoDB\", 8529)); s.close();' 2>/dev/null; do
          echo 'DB henüz cevap vermiyor, bekleniyor...'
          sleep 1
        done
        echo 'DB BAĞLANTISI KURULDU! Testler başlatılıyor...'
        pytest -n 4 --dist=loadscope --alluredir=allure-results --clean-alluredir
      "
    
    depends_on:
      - selenoid
    networks:
      - qa-network

  # 2. SELENOID
  selenoid:
    image: aerokube/selenoid:latest-release
    container_name: selenoid
    volumes:
      - ./config:/etc/selenoid
      - /var/run/docker.sock:/var/run/docker.sock
      - ./videos:/opt/selenoid/video
      - ./logs:/opt/selenoid/logs
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/videos
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-video-recorder-image", "selenoid/video-recorder:latest-release", "-limit", "10", "-container-network", "qa-network", "-service-startup-timeout", "2m"]
    ports:
      - "4444:4444"
    networks:
      - qa-network

  # 3. SELENOID UI
  selenoid-ui:
    image: aerokube/selenoid-ui:latest-release
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444", "--period", "2s"]
    networks:
      - qa-network

# --- AĞ AYARI ---
# Ağı CI scripti oluşturdu, biz sadece bağlanıyoruz.
networks:
  qa-network:
    external: true