services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      # Mac'teki ArangoDB'ye erişim
      - ARANGO_URL=http://host.docker.internal:8529
      # GitLab'den gelen şifreler
      - ARANGO_DB_NAME=${ARANGO_DB_NAME}
      - ARANGO_USER=${ARANGO_USER}
      - ARANGO_PASSWORD=${ARANGO_PASSWORD}
      # Diğer ayarlar
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER}
      - RECORD_VIDEO=${RECORD_VIDEO}
      - TAKE_SCREENSHOT=${TAKE_SCREENSHOT}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
    
    # DB erişimi için köprü
    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    command: ["pytest", "-n", "4", "--dist=loadscope", "--alluredir=allure-results", "--clean-alluredir"]
    depends_on:
      - selenoid
    networks:
      - test-network

  # 2. SELENOID
  selenoid:
    image: aerokube/selenoid:latest-release
    container_name: selenoid
    volumes:
      - ./config:/etc/selenoid
      - /var/run/docker.sock:/var/run/docker.sock
      - ./videos:/opt/selenoid/video
      - ./logs:/opt/selenoid/logs
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/videos
    # --- KRİTİK DÜZELTME BURADA ---
    # -container-network test-network diyerek tarayıcıyı zorla bizim ağımıza sokuyoruz.
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-video-recorder-image", "selenoid/video-recorder:latest-release", "-limit", "10", "-container-network", "test-network", "-service-startup-timeout", "2m"]
    ports:
      - "4444:4444"
    networks:
      - test-network

  # 3. SELENOID UI
  selenoid-ui:
    image: aerokube/selenoid-ui:latest-release
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444", "--period", "2s"]
    networks:
      - test-network

# --- AĞ AYARI (SABİT İSİM) ---
networks:
  test-network:
    name: test-network
    driver: bridge