version: '3.8'

services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      # --- BAĞLANTI AYARLARI ---
      - ARANGO_URL=http://arangoDB:8529
      
      # Config dosyanın ne beklediğini garantiye almak için ikisini de gönderiyoruz
      - ARANGO_DB=${ARANGO_DB_NAME}
      - ARANGO_DB_NAME=${ARANGO_DB_NAME}
      
      - ARANGO_USER=${ARANGO_USER}
      - ARANGO_PASSWORD=${ARANGO_PASSWORD}
      # -------------------------
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER}
      - RECORD_VIDEO=${RECORD_VIDEO}
      - TAKE_SCREENSHOT=${TAKE_SCREENSHOT}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
      
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    
    # --- İŞTE ÇÖZÜM BURASI ---
    # Pytest başlamadan önce ArangoDB'nin 8529 portunun cevap vermesini bekliyoruz.
    # Böylece test_data.py çalıştığında bağlantı %100 hazır oluyor.
    command: >
      sh -c "
        echo 'ArangoDB bağlantısı kontrol ediliyor...'
        until python -c 'import socket; s=socket.socket(); s.settimeout(1); s.connect((\"arangoDB\", 8529)); s.close();' 2>/dev/null; do
          echo 'DB henüz cevap vermiyor, bekleniyor...'
          sleep 1
        done
        echo 'DB Bağlantısı HAZIR! Testler başlıyor...'
        pytest -n 4 --dist=loadscope --alluredir=allure-results --clean-alluredir
      "
      
    depends_on:
      - selenoid
    networks:
      - test-network

  # 2. SELENOID
  selenoid:
    image: aerokube/selenoid:latest-release
    container_name: selenoid
    volumes:
      - ./config:/etc/selenoid
      - /var/run/docker.sock:/var/run/docker.sock
      - ./videos:/opt/selenoid/video
      - ./logs:/opt/selenoid/logs
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/videos
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-video-recorder-image", "selenoid/video-recorder:latest-release", "-limit", "10", "-container-network", "test-network", "-service-startup-timeout", "2m"]
    ports:
      - "4444:4444"
    networks:
      - test-network

  # 3. SELENOID UI
  selenoid-ui:
    image: aerokube/selenoid-ui:latest-release
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444", "--period", "2s"]
    networks:
      - test-network

# Ağ Ayarı (Değişmedi, external olarak kullanıyoruz)
networks:
  test-network:
    name: test-network
    external: true