version: '3.8'

services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      # --- DÜZELTME 1: .env dosyanla AYNI isimleri kullanıyoruz ---
      - ARANGO_URL=http://arangoDB:8529
      - ARANGO_DB_NAME=${ARANGO_DB_NAME} 
      - ARANGO_USER=${ARANGO_USER}
      - ARANGO_PASSWORD=${ARANGO_PASSWORD}
      # -----------------------------------------------------------
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER}
      - RECORD_VIDEO=${RECORD_VIDEO}
      - TAKE_SCREENSHOT=${TAKE_SCREENSHOT}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    command: ["pytest", "-n", "4", "--dist=loadscope", "--alluredir=allure-results", "--clean-alluredir"]
    depends_on:
      - selenoid
    networks:
      - shared-network

  # 2. SELENOID
  selenoid:
    image: aerokube/selenoid:latest-release
    container_name: selenoid
    volumes:
      - ./config:/etc/selenoid
      - /var/run/docker.sock:/var/run/docker.sock
      - ./videos:/opt/selenoid/video
      - ./logs:/opt/selenoid/logs
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/videos
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-video-recorder-image", "selenoid/video-recorder:latest-release", "-limit", "10", "-container-network", "shared-network", "-service-startup-timeout", "2m"]
    ports:
      - "4444:4444"
    networks:
      - shared-network

  # 3. SELENOID UI
  selenoid-ui:
    image: aerokube/selenoid-ui:latest-release
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444", "--period", "2s"]
    networks:
      - shared-network

# AĞ AYARI: Bizim oluşturduğumuz 'shared-network'ü kullan
networks:
  shared-network:
    name: shared-network
    external: true