version: '3'
services:
  # 1. TEST KOŞUCUSU (Otomatik Mimari: Python resmi imajı multi-arch'tır)
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      - ARANGO_URL=http://arangoDB:8529
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER:-chrome}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      selenoid:
        condition: service_started
    # Paralel koşum ayarı
    command: ["pytest", "-n", "${WORKER_COUNT:-2}", "--alluredir=allure-results", "--clean-alluredir"]
    networks:
      - shared-network

  # 2. SELENOID (Otomatik Mimari: Aerokube resmi imajı multi-arch'tır)
  selenoid:
    image: aerokube/selenoid:1.11.3
    container_name: selenoid
    # PLATFORM SATIRI YOK -> Docker ev sahibi mimarisini otomatik seçer
    volumes:
      - "./config:/etc/selenoid"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./logs:/opt/selenoid/logs"
      - "./videos:/opt/selenoid/video"  # <--- BU SATIRI EKLEYİN
    environment:
      - DOCKER_API_VERSION=1.45
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/videos
    # Dinamik Tarayıcı Dosyası Seçimi (start_tests.py burayı doldurur)
    command: ["-conf", "/etc/selenoid/${BROWSERS_JSON}", "-log-output-dir", "/opt/selenoid/logs", "-video-output-dir", "/opt/selenoid/video", "-container-network", "shared-network", "-limit", "10"]
    ports:
      - "4444:4444"
    networks:
      - shared-network

  # 3. SELENOID UI (Otomatik Mimari: Aerokube resmi imajı multi-arch'tır)
  selenoid-ui:
    image: aerokube/selenoid-ui:1.10.11
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444"]
    networks:
      - shared-network

networks:
  shared-network:
    external: true